<div class="container main row mt-5">
    <!-- Tabla de datos -->
    <div class="table-responsive col-8 d-none d-md-block">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    <th scope="col" *ngFor="let code of divisaCodes">
                        <div class="text-center">
                            <img src="assets/icon/{{code}}.ico" class="icono-moneda"><br>
                            <p>{{code | uppercase }} </p>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let tr of content">
                    <th><img src="assets/icon/{{tr.code}}.ico" class="icono-moneda"></th>
                    <th scope="row">
                        <div class="text-center text">
                            1 {{tr.code | uppercase}}
                        </div>
                    </th>
                    <td *ngFor="let i of tr.amounts">{{i | number:'1.2-3' }}</td>
                </tr>
        </table>
    </div>

    <!-- Formulario de conversion de divisas -->
    <div class="container col-md-4 col-sm-12">
        <div class="text-center bg-info text-white">
            <h3 class="p-1">Convertidor de divisas</h3>
        </div>
        <form class="border border-3 p-3 bg-primary text-white" method="post" #divisaForm="ngForm">
            <div class="mb-3">
                <label for="amout" class="form-label">Cantidad</label>
                <input [(ngModel)]="divisa.amount" type="number" class="form-control" name="amount" id="amount"
                    min="0" required #amount="ngModel">
                <div *ngIf="amount.invalid" class="alert alert-danger my-1 p-1">
                    <div *ngIf="amount.errors?.['required']">
                        La cantidad es requerida
                    </div>
                    <div *ngIf="amount.errors?.['min']">
                        La cantidad tiene que ser mayor a 0
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="have" class="form-label">De</label>
                <select [(ngModel)]="divisa.have" class="form-select" name="have" id="have" required
                    #have="ngModel">
                    <option [value]="option" *ngFor="let option of divisaCodes">{{option}}</option>
                </select>
                <div *ngIf="have.invalid" class="alert alert-danger my-1 p-1">
                    <div *ngIf="have.errors?.['required']">
                        La divisa de origen es requerida
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="want" class="form-label">A</label>
                <select [(ngModel)]="divisa.want" name="want" class="form-select" id="want" required
                    #want="ngModel">
                    <option [value]="option" *ngFor="let option of divisaCodes">{{option}}</option>
                </select>
                <div *ngIf="want.invalid" class="alert alert-danger my-1 p-1">
                    <div *ngIf="want.errors?.['required']">
                        La divisa de destino es requerida
                    </div>
                </div>
            </div>
            <div class="mb-3" *ngIf="submited">
                <label class="form-label">Conversion: {{divisa.conversion}}</label>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-warning" [disabled]="divisaForm.form.invalid"
                    (click)="convertir(divisa.have,divisa.want,divisa.amount)">Convertir</button>
            </div>
        </form>
    </div>
</div>