<body>
    
  <div class="container main row d-flex justify-content-center">
    <!-- PELICULAS -->
    <div class="container peliculas row col-12 col-sm-8 mt-3">
      
      <div class="card col-12 col-sm-6 col-md-4 my-2" *ngFor="let pelicula of peliculas">
        <img [src]="pelicula.image" class="card-img-top portada-pelicula">
        <div class="card-body">
          <h5 class="card-title">{{pelicula.titulo}}</h5>
          <p class="card-text text-secondary">Duracion: {{pelicula.duracion}}</p>
          <p class="card-text text-secondary">Rating: {{pelicula.rating}}</p>
          <p>
            {{pelicula.descripcion}}
          </p>
        </div>
      </div>
    </div>

    <!-- PUBLICIDAD -->
    <div class="container-fluid publicidad col-12 col-sm-4 mt-4">
      <img class="img-fluid" src="https://thumbs.dreamstime.com/z/publicidad-de-dise%C3%B1o-vertical-del-jefe-o-la-bandera-con-oferta-descuento-para-holi-feliz-135546313.jpg" alt="">
      <img class="img-fluid" src="https://thumbs.dreamstime.com/z/publicidad-de-dise%C3%B1o-vertical-del-jefe-o-la-bandera-con-oferta-descuento-para-holi-feliz-135546313.jpg" alt="">

    </div>
  </div>
      
      
   
       
       </body>
       